<div class="container" id="registration-form-container">
    <div class="jumbotron">
        <h3 id="register-header">Register</h3>
        <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value.email, registerForm.value.password)">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" placeholder="Name" id="name" formControlName="name">
            </div>
            <div *ngIf="registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)" class="alert alert-danger">
                <div *ngIf="registerForm.controls['name'].errors.required">
                  Name is required.
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="email" placeholder="Email" id="email" formControlName="email">
            </div>
            <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)" class="alert alert-danger">
                <div *ngIf="registerForm.controls['email'].errors.required">
                  Email is required.
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" placeholder="Password" id="password" formControlName="password">
            </div>
            <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)" class="alert alert-danger">
                <div *ngIf="registerForm.controls['password'].errors.required">
                  Password is required.
                </div>
            </div>
            <button id="register-btn" type="submit" class="btn btn-primary">Register</button>
            <p>Already have an account? <a id="sing-in" href="/login">Sing In</a></p>
            <!-- <a id="login-btn" href="/login" class="btn btn-secondary">Go to Login</a> -->
        </form>
    </div>
</div>